body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f1220;
  color: white;
}

#login {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  background: #6c63ff;
  border: none;
  color: white;
  font-size: 16px;
}

.password-rule {
  font-size: 12px;
  color: #b3b3ff;
  margin-bottom: 10px;
}

#error {
  color: #ff6b6b;
  margin-top: 10px;
}

#chat {
  padding-bottom: 70px;
}

#messages {
  padding: 10px;
  height: calc(100vh - 160px);
  overflow-y: auto;
}

#messages div {
  background: #1e2347;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #161a33;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.chat-input input {
  flex: 1;
  height: 44px;
  padding: 0 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.chat-input button {
  width: auto;
  height: 44px;
  padding: 0 24px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #6c63ff;
  color: white;
  cursor: pointer;
}

#logoutBtn {
  width: 15%;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  background: crimson;
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 6px;
  cursor: pointer;
}